<div class="pb-24">
  <div class="max-w-7xl mx-auto px-6 py-8 flex items-center gap-4 border-b border-gray-200 mb-8">
    <%= link_to dashboard_categories_path, class: "text-gray-400 hover:text-gray-900 transition-colors" do %>
      <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" /></svg>
    <% end %>
    <h1 class="text-2xl font-bold text-gray-900">New Category</h1>
  </div>
  <div class="max-w-7xl mx-auto px-6">
    <%= render "form", category: @category %>
  </div>
</div>
